
body{
    background-image: url('../beige.png');
}

@media (min-width: 767px) {
    
    button {
        width: 100px;
    }

}

@media (min-width: 1024px) {
    
    button {
        width: 150px;
    }

}
